#login_token
export login_token='id,token'

#domain
export domain='example.com'

#record
export record='www'

#letsencrypt服务器设定
#CA="https://acme-v01.api.letsencrypt.org/directory" #正式服务器
CA="https://acme-staging.api.letsencrypt.org/directory" #测试服务器

#目录设定
TMPDIR=
ACCOUNTDIR=
CERTDIR=
DOMAINS_TXT=
LOCKFILE=

# Default values
LICENSE="https://letsencrypt.org/documents/LE-SA-v1.1.1-August-1-2016.pdf"
DOMAINS_D=
HOOK=
HOOK_CHAIN="no"
RENEW_DAYS="30"
KEYSIZE="4096"
WELLKNOWN=
PRIVATE_KEY_RENEW="yes"
PRIVATE_KEY_ROLLOVER="no"
KEY_ALGO=rsa
OPENSSL_CNF="$(openssl version -d | cut -d\" -f2)/openssl.cnf"
CONTACT_EMAIL=
OCSP_MUST_STAPLE="no"
IP_VERSION=